In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [6]:
df = pd.read_excel('Cleaned_episodes.xlsx')
df.head()

,NUMBER,Title,Summary,Link,Transcript
0,EXTRA,Madeleine Albright’s Warning on Immigration,She arrived in the U.S. as an 11-year-old refu...,https://freakonomics.com/podcast/madeleine-alb...,"\nHey there, it’s Stephen Dubner. We just star..."
1,PLUS,What Can the Bible Teach Us About Immigration?,"Stephen talks with Roger Nam, a professor of H...",https://freakonomics.com/podcast/what-can-the-...,Freakonomics Plus membership required
2,No. 580,The True Story of America’s Supremely Messed-U...,How did a nation of immigrants come to hate im...,https://freakonomics.com/podcast/the-true-stor...,"\nToday, let’s start with a quiz. First, I wan..."
3,PLUS,The Suddenly Controversial World of Profession...,Sportswriter Karen Crouse talks about the batt...,https://freakonomics.com/podcast/the-suddenly-...,Freakonomics Plus membership required
4,No. 579,Are You Caught in a Social Media Trap?,Economists have discovered an odd phenomenon: ...,https://freakonomics.com/podcast/are-you-caugh...,\nBen HANDEL: I’ve loved working on this paper...

In [5]:
engine = create_engine('mysql://root:root@localhost:3306/freakapi')

In [7]:
df.to_sql(name='episodes', con=engine, if_exists='append', index=False)

763

In [ ]:
hosts = df['episode_hosts']
hosts

In [ ]:
hosts[0]

In [ ]:
import ast

In [ ]:
hosts2 = hosts.values.tolist()
for i in range (len(hosts2)):
    try:
        hosts2[i] = ast.literal_eval(hosts2[i])
    except:
        pass

In [ ]:
for hostList in hosts2:
    for host in hostList:
        
        if host == '\n':
            hostList.remove(host)
        if host == 'and':
            hostList.remove(host)
        if host == 'And':
            hostList.remove(host)
        if host == '\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\tBy ':
            hostList.remove(host)

In [ ]:
hosts2

In [ ]:
for i, hosts_list in enumerate(hosts2):
    df.at[i, 'episode_hosts'] = hosts_list

In [ ]:
df

In [ ]:
df.to_excel('Cleaned_hosts.xlsx', index=False)

In [8]:
df = pd.read_excel('Cleaned_hosts.xlsx')
df.head()

           episode_hosts
0  ['Stephen J. Dubner']
1  ['Stephen J. Dubner']
2  ['Stephen J. Dubner']
3  ['Stephen J. Dubner']
4  ['Stephen J. Dubner']

In [13]:
map = {}

for hostList in df['episode_hosts']:
    for host in hostList:
        if host in map:
            next
        else:
            map[host] = 1

In [18]:
import ast
map = {}
arr = df['episode_hosts'].values.tolist()
arr
for host_list in arr:
    host_list = ast.literal_eval(host_list)
    for host in host_list:
        if host in map:
            map[host] += 1
        else:
            map[host] = 1

In [19]:
map

{'Stephen J. Dubner': 738,
 'Zachary Crockett': 6,
 'Steven D. Levitt': 6,
 'Mike Maughan': 1,
 'Angela Duckworth': 4,
 'Adam Davidson': 3,
 'Stephen Dubner': 2,
 'Bapu Jena': 3,
 'Rebecca Lee Douglas': 1,
 'Maria Konnikova': 1,
 'Emma Tyrrell': 1}

In [20]:
map.keys()

dict_keys(['Stephen J. Dubner', 'Zachary Crockett', 'Steven D. Levitt', 'Mike Maughan', 'Angela Duckworth', 'Adam Davidson', 'Stephen Dubner', 'Bapu Jena', 'Rebecca Lee Douglas', 'Maria Konnikova', 'Emma Tyrrell'])

In [23]:
df = pd.DataFrame(list(map.items()), columns=['host', 'episodes'])

In [24]:
df

                   host  episodes
0     Stephen J. Dubner       738
1      Zachary Crockett         6
2      Steven D. Levitt         6
3          Mike Maughan         1
4      Angela Duckworth         4
5         Adam Davidson         3
6        Stephen Dubner         2
7             Bapu Jena         3
8   Rebecca Lee Douglas         1
9       Maria Konnikova         1
10         Emma Tyrrell         1

In [33]:
df.to_sql(name='presenters', con=engine, if_exists='append', index=False)

11

In [31]:
df.rename(columns={'presenter': 'Name'}, inplace=True)

In [32]:
df

                   Name
0     Stephen J. Dubner
1      Zachary Crockett
2      Steven D. Levitt
3          Mike Maughan
4      Angela Duckworth
5         Adam Davidson
6        Stephen Dubner
7             Bapu Jena
8   Rebecca Lee Douglas
9       Maria Konnikova
10         Emma Tyrrell

In [ ]:
def loop(episodes, hosts):
    map = {}
    it = 0
    for host_list in hosts:
        for host in host_list:
            if map.has(host):
                map[host].append(episodes[it].episode_number)
            else:
                map[host] = host : episodes[it].episode_number

        it += 1

In [36]:
df = pd.read_excel('relationship_table.xlsx')

In [37]:
df.head()

   EpisodeId  PresenterId
0          1            1
1          2            1
2          3            1
3          4            1
4          5            1

In [40]:
df.to_sql(name='presentedbys', con=engine, if_exists='append', index=False)

766