In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [6]:
df = pd.read_excel('Cleaned_episodes.xlsx')
df.head()

,NUMBER,Title,Summary,Link,Transcript
0,EXTRA,Madeleine Albright’s Warning on Immigration,She arrived in the U.S. as an 11-year-old refu...,https://freakonomics.com/podcast/madeleine-alb...,"\nHey there, it’s Stephen Dubner. We just star..."
1,PLUS,What Can the Bible Teach Us About Immigration?,"Stephen talks with Roger Nam, a professor of H...",https://freakonomics.com/podcast/what-can-the-...,Freakonomics Plus membership required
2,No. 580,The True Story of America’s Supremely Messed-U...,How did a nation of immigrants come to hate im...,https://freakonomics.com/podcast/the-true-stor...,"\nToday, let’s start with a quiz. First, I wan..."
3,PLUS,The Suddenly Controversial World of Profession...,Sportswriter Karen Crouse talks about the batt...,https://freakonomics.com/podcast/the-suddenly-...,Freakonomics Plus membership required
4,No. 579,Are You Caught in a Social Media Trap?,Economists have discovered an odd phenomenon: ...,https://freakonomics.com/podcast/are-you-caugh...,\nBen HANDEL: I’ve loved working on this paper...

In [5]:
engine = create_engine('mysql://root:root@localhost:3306/freakapi')

In [7]:
df.to_sql(name='episodes', con=engine, if_exists='append', index=False)

763

In [ ]:
hosts = df['episode_hosts']
hosts

In [ ]:
hosts[0]

In [ ]:
import ast

In [ ]:
hosts2 = hosts.values.tolist()
for i in range (len(hosts2)):
    try:
        hosts2[i] = ast.literal_eval(hosts2[i])
    except:
        pass

In [ ]:
for hostList in hosts2:
    for host in hostList:
        
        if host == '\n':
            hostList.remove(host)
        if host == 'and':
            hostList.remove(host)
        if host == 'And':
            hostList.remove(host)
        if host == '\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\tBy ':
            hostList.remove(host)

In [ ]:
hosts2

In [ ]:
for i, hosts_list in enumerate(hosts2):
    df.at[i, 'episode_hosts'] = hosts_list

In [ ]:
df

In [ ]:
df.to_excel('Cleaned_hosts.xlsx', index=False)

In [8]:
df = pd.read_excel('Cleaned_hosts.xlsx')
df.head()

           episode_hosts
0  ['Stephen J. Dubner']
1  ['Stephen J. Dubner']
2  ['Stephen J. Dubner']
3  ['Stephen J. Dubner']
4  ['Stephen J. Dubner']

In [13]:
map = {}

for hostList in df['episode_hosts']:
    for host in hostList:
        if host in map:
            next
        else:
            map[host] = 1

In [18]:
import ast
map = {}
arr = df['episode_hosts'].values.tolist()
arr
for host_list in arr:
    host_list = ast.literal_eval(host_list)
    for host in host_list:
        if host in map:
            map[host] += 1
        else:
            map[host] = 1

In [19]:
map

{'Stephen J. Dubner': 738,
 'Zachary Crockett': 6,
 'Steven D. Levitt': 6,
 'Mike Maughan': 1,
 'Angela Duckworth': 4,
 'Adam Davidson': 3,
 'Stephen Dubner': 2,
 'Bapu Jena': 3,
 'Rebecca Lee Douglas': 1,
 'Maria Konnikova': 1,
 'Emma Tyrrell': 1}

In [20]:
map.keys()

dict_keys(['Stephen J. Dubner', 'Zachary Crockett', 'Steven D. Levitt', 'Mike Maughan', 'Angela Duckworth', 'Adam Davidson', 'Stephen Dubner', 'Bapu Jena', 'Rebecca Lee Douglas', 'Maria Konnikova', 'Emma Tyrrell'])

In [23]:
df = pd.DataFrame(list(map.items()), columns=['host', 'episodes'])

In [24]:
df

                   host  episodes
0     Stephen J. Dubner       738
1      Zachary Crockett         6
2      Steven D. Levitt         6
3          Mike Maughan         1
4      Angela Duckworth         4
5         Adam Davidson         3
6        Stephen Dubner         2
7             Bapu Jena         3
8   Rebecca Lee Douglas         1
9       Maria Konnikova         1
10         Emma Tyrrell         1

In [33]:
df.to_sql(name='presenters', con=engine, if_exists='append', index=False)

11

In [31]:
df.rename(columns={'presenter': 'Name'}, inplace=True)

In [32]:
df

                   Name
0     Stephen J. Dubner
1      Zachary Crockett
2      Steven D. Levitt
3          Mike Maughan
4      Angela Duckworth
5         Adam Davidson
6        Stephen Dubner
7             Bapu Jena
8   Rebecca Lee Douglas
9       Maria Konnikova
10         Emma Tyrrell

In [ ]:
def loop(episodes, hosts):
    map = {}
    it = 0
    for host_list in hosts:
        for host in host_list:
            if map.has(host):
                map[host].append(episodes[it].episode_number)
            else:
                map[host] = host : episodes[it].episode_number

        it += 1

In [36]:
df = pd.read_excel('relationship_table.xlsx')

In [37]:
df.head()

   EpisodeId  PresenterId
0          1            1
1          2            1
2          3            1
3          4            1
4          5            1

In [40]:
df.to_sql(name='presentedbys', con=engine, if_exists='append', index=False)

766

In [1]:
import ast
import pandas as pd

df = pd.read_excel('Cleaned_guests.xlsx')
map = {}
arr = df['episode_guests'].values.tolist()

for guest_list in arr:
    guest_list = ast.literal_eval(guest_list)
    for guest in guest_list:
        if guest in map:
            map[guest] += 1
        else:
            map[guest] = 1
map

{'Madeleine Albright': 2,
 'Leah Boustan': 1,
 'Zeke Hernandez': 1,
 'Roger Nam': 1,
 'Leonardo Bursztyn': 1,
 'Benjamin Handel': 1,
 'Jodi Balsam': 1,
 'Brandel Chamblee': 1,
 'Karen Crouse': 1,
 'Bomani Jones': 1,
 'Victor': 1,
 '\xa0Matheson': 1,
 'Alan Shipnuck': 1,
 'Brian Beach,': 1,
 'Marc Johnson': 1,
 'Amy Kirby': 1,
 'Natalie Koch': 1,
 'Marissa Mayer': 2,
 'Ryan McDevitt': 2,
 'Tim Hwang': 2,
 'Elizabeth Reid': 2,
 'Aravind Srinivas': 1,
 'Jeremy Stoppelman': 2,
 'Barbara Berg': 2,
 'Cheryl Haley': 2,
 'Debby Harlow': 2,
 'Sam Stern': 1,
 'Alan Alda': 1,
 'Helen Czerski': 2,
 'Michelle Feynman': 3,
 'Ralph Leighton': 3,
 'Charles Mann': 3,
 'John Preskill': 3,
 'Lisa Randall': 2,
 'Christopher Sykes': 2,
 'Stephen Wolfram': 3,
 'Seamus Blackley': 1,
 'Carl Feynman': 1,
 'Alan Zorthian': 1,
 'Jimmy Garoppolo': 2,
 'Al Guido': 1,
 'Kyle Juszczyk': 1,
 'Bob Lange': 1,
 'John Lynch': 1,
 'Paraag Marathe': 1,
 'Victor Matheson': 2,
 'Kyle Shanahan': 1,
 'Malcolm Smith': 1,
 'Joe Staley': 1,
 'Solomon Thomas': 1,
 'Jed York': 2,
 'Michael S. Roth': 1,
 'Sharon Begley': 1,
 'Jerome Kagan': 1,
 'Bibb Latané': 1,
 'Scott Lilienfeld': 1,
 'James Solomon': 1,
 'Max Bazerman': 2,
 'Leif Nelson': 2,
 'Brian Nosek': 2,
 'Ivan Oransky': 1,
 'Joseph Simmons': 2,
 'Uri Simonsohn': 2,
 'Simine Vazire': 2,
 'Cat Bohannon': 1,
 'Roy Baumeister': 3,
 'Daniel Gilbert': 1,
 'John Gottman': 1,
 'Kurt Lewin': 1,
 'E. J. Masicampo': 1,
 'Timothy Wilson': 1,
 'Bluma Zeigarnik': 1,
 'Michael Lewis': 3,
 'Kenneth Corey': 1,
 'Stephanie Drescher': 1,
 'Max Kapustin': 1,
 'Jens Ludwig': 1,
 'Sandy Jo MacArthur': 1,
 'Sean Malinowski': 1,
 'Sindyanna Paul-Noel': 1,
 'Michael Wolley': 1,
 'Marcus Finbom': 2,
 'Robbie Makinen': 2,
 'Janno Lieber': 1,
 'Brian Taylor': 2,
 'Shashi Verma': 2,
 'Michelle Wu': 2,
 'Vaughan Buckley': 1,
 'Carrie Sturts Dossick': 1,
 'Ed Glaeser': 8,
 'Michael Hough': 1,
 'Ivan Rupnik': 1,
 'Chad Syverson': 1,
 'Jason Kelce': 2,
 'Brendan Ballou': 1,
 'Dan Glickberg': 1,
 'Hannah Howard': 1,
 'Sachin Khajuria': 1,
 'Kilian Huber': 1,
 'Silke-Maria Weineck': 1,
 'Sophie Calder-Wang': 1,
 'Will Coleman': 1,
 'Amy Edmondson': 4,
 'Babak Javid': 1,
 'Gary Klein': 4,
 'Theresa MacPhail': 1,
 'Roy Shalem': 1,
 'Samuel West': 1,
 'John Boykin': 1,
 'Angela Duckworth': 5,
 'Helen Fisher': 4,
 'Eric von Hippel': 1,
 'Jill Hoffman': 1,
 'Steve Levitt': 11,
 'Joseph O’Connell': 1,
 'Mike Ridgeman': 1,
 'Melanie Stefan': 1,
 'Travis Thul': 1,
 'Carole Hemmelgarn': 1,
 'Robert Langer': 1,
 'John Van Reenen': 2,
 'Ed Galea': 1,
 'David Riedman': 1,
 'Aaron Stark': 1,
 'Claudia Goldin': 2,
 ',\xa0': 1,
 'John Ray': 1,
 'Jim Balsillie': 1,
 'Mike Cannon-Brookes': 1,
 'Scott Farquhar': 1,
 'Marc Feigen': 1,
 'Jeffrey Sonnenfeld': 2,
 'Laurie Williams': 1,
 'Kim Brooks': 1,
 'Kristen Ghodsee': 1,
 'Sam Ghoshal': 1,
 'Zadek Ghoshal': 1,
 'Melissa Kearney': 1,
 'Adder Oaks': 1,
 'Devon Sproule,': 1,
 'Tom Garfinkel': 1,
 'Jim Ivler': 1,
 'Jalen Reeves-Maybin': 1,
 'Betsey Stevenson': 3,
 'J.C. Tretter': 1,
 'Mark Wilf': 1,
 'Dario Amodei': 1,
 'Anna Bernstein': 1,
 'Ethan Mollick': 1,
 'Ajeya Cotra': 1,
 'Daniel Gross': 2,
 'Simon Johnson': 1,
 'Lydia Chilton': 1,
 'Joshua Gans': 1,
 'Michael Schur': 1,
 'Rahm Emanuel': 2,
 'Kevin Beresford': 1,
 'Jim Brainard': 1,
 'Doug Hecox': 1,
 'Zachary Crockett': 1,
 'Mike McBride': 1,
 'Oliver Cameron': 1,
 'Bjørn Andersen': 1,
 'Thomas Carr': 1,
 'Bonnie Erickson': 1,
 'Wayde Harrison': 1,
 'Peter Larson': 1,
 'Nathan Myhrvold': 2,
 'Clayton Phipps': 1,
 'Dave Raymond': 1,
 'Myagmarjav Serjkhuu': 1,
 'Carolyn Yim': 1,
 'Michele Baggio': 1,
 'Mary K. Bercaw-Edwards': 1,
 'Hester Blum': 1,
 'Eric Hilt': 3,
 'Kate O’Connell': 2,
 'Maria Petrillo': 1,
 'Joe Roman': 1,
 'Jay Alabaster': 1,
 'Bjorn Basberg': 1,
 'Paul Watson': 2,
 'Nathaniel Philbrick': 1,
 'Sara Bronin': 1,
 'Philip Miatkowski': 1,
 'Kelcie Ralph': 1,
 'David Strayer': 1,
 'Marc Goñi': 2,
 'Amalia Miller': 2,
 'James Shapiro': 2,
 'Satya Nadella': 1,
 'Chris James': 1,
 'Carine Ihenacho': 1,
 'Kelly Shue': 3,
 'Tony Will': 1,
 'Ben Gold': 1,
 'Dahlia Lithwick': 1,
 'Matthew Myers': 1,
 'Chris Tindale': 1,
 'Eugene Volokh': 1,
 'Ariel Emanuel': 1,
 'Ray Book': 1,
 'Ned Brooks': 1,
 'Danielle': 1,
 'Ruthanne Leishman': 1,
 'Julie Parke': 1,
 'Alvin Roth': 1,
 'Jodi Sheakley-Wright': 1,
 'Patricia Allan': 1,
 'Andrea Bayer': 2,
 'Lonnie G. Bunch III': 1,
 'Victor Ehikhamenor': 2,
 'Patty Gerstenblith': 2,
 'Tom Wilkening': 1,
 'Matthew Bogdanos': 2,
 'David Frum': 1,
 'Dan Hicks': 1,
 'Bénédicte Savoy': 1,
 'Jim Marrone': 1,
 'Victoria Reed': 1,
 'Roger Buehler': 1,
 'Bent Flyvbjerg': 1,
 'Yael Grushka-Cockayne': 1,
 'Michael Horodniceanu': 1,
 'Katherine Milkman': 5,
 'Justin Rosenstein': 1,
 'Tali Sharot': 1,
 'Timothy Jay': 2,
 'John McWhorter': 2,
 'Melissa Mohr': 2,
 'John Cassara': 1,
 'Doneene Damon': 1,
 'Travis Laster': 1,
 'Dan Nielson': 1,
 'Hal Weitzman': 1,
 'Juatise Gathings': 1,
 'Darrick Hamilton': 3,
 'Nathan Hendren': 1,
 'Roger Hochschild': 1,
 'Koby Jones': 1,
 'Catherine Eckel': 1,
 'Jesper Koll': 1,
 'Cait Lamberton': 1,
 'Joel Slemrod': 1,
 'Amy Finkelstein': 1,
 'Nick Bloom': 1,
 'Katie Johnson': 1,
 'Steve Tadelis': 1,
 'Ed Bastian': 2,
 'Volodymyr Bilotkach': 1,
 'Severin Borenstein': 1,
 'Maria Diploudis': 1,
 'Greg Foran': 2,
 'Sabrina Howell': 1,
 'David Neeleman': 2,
 'Sara Nelson': 3,
 'Megan Ryerson': 1,
 'Frank Scremin': 1,
 'Gregg Brandner': 1,
 'Pepper Deroy': 1,
 'Conor McGill': 1,
 'Branden Morrell': 1,
 'Billy Nolen': 1,
 'Katie Truett': 1,
 'Adam Uhan': 1,
 'Warren Weston': 1,
 'Luke Wheeldon': 1,
 'Troy Jaster': 1,
 'Marcus Powell': 1,
 'Meg Rosson': 1,
 'Matt Sparks': 1,
 'Antonia White': 1,
 'Eric Zeugschmidt': 1,
 'Reid Ferguson': 1,
 'Kevin Gold': 1,
 'Louis-Philippe Ladouceur': 1,
 'Victor\xa0Matheson': 1,
 'Rich McKay': 1,
 'Matthew Orzech': 1,
 'Chris Rubio': 1,
 'Chekitan Dev': 1,
 'Shawn Seipler': 1,
 'Brian Deese': 1,
 'Gina Raimondo': 1,
 'Sharona Alperin': 1,
 'Berton Averre': 1,
 'Michael Closter': 1,
 'Kate Raworth,': 2,
 'Jason Hickel,': 2,
 'Marieke van Doorninck,': 2,
 'Isla Baris': 1,
 'Megan Baris': 1,
 'Janelle Bitker': 1,
 'Katie Francis': 1,
 'Eileen Appelbaum': 2,
 'Greg Hartmann': 2,
 'Josh Lerner': 2,
 'Rose Peters': 2,
 'Elena Prager': 1,
 'Garrett Golding': 1,
 'Jeetander P. Sethi': 1,
 'Kai Trimble-Lea': 1,
 'Samin Nosrat': 2,
 'Markus Baer,': 1,
 'Justin Berg': 1,
 'Sean Nelson,\xa0': 1,
 'Peter Barrett': 1,
 'Arline Bronzaft': 2,
 'Robert and Daryl Davis': 1,
 'Eric Klinenberg': 1,
 'Roger Ulrich': 1,
 'Yuval Noah Harari': 1,
 'Maha Rafi Atal': 1,
 'Eamonn Butler': 2,
 'Caroline Howitt': 1,
 'Glory Liu': 3,
 'Craig Smith': 3,
 'John Yule': 2,
 'Mariana Mazzucato': 1,
 'Dennis Rasmussen': 2,
 'Russ Roberts': 1,
 'Rosemary Potter': 1,
 'George Proudfoot': 1,
 'Emla Fitzsimons': 1,
 'Emily Oster': 1,
 'Sridhar Ramaswamy': 1,
 'Andrew Biles': 1,
 'James Dale': 1,
 'Jennifer Doudna': 1,
 'Virginia Scott Jenkins': 2,
 'Douglas Southgate': 1,
 'Katherine Gehl': 1,
 'Morgan Levey': 1,
 'Harvey Mansfield': 1,
 'Jay Van Bavel': 1,
 'Nicholas Bloom': 1,
 'Jessica Fox': 1,
 'Arpit Gupta': 1,
 'Misty Heggeness': 1,
 'Julie Kanfer': 1,
 'Ryan Kelley': 1,
 'Jasmin Klinger': 1,
 'Emma Tyrrell': 1,
 'Anthea Roberts': 1,
 'James Choi': 1,
 'Morgan Housel': 1,
 'Daron Acemoglu': 2,
 'Tim Cobau': 1,
 'Ann Harrison': 1,
 'Josh Dean': 1,
 'Mack Hagood,': 1,
 'Pawel Jastreboff': 1,
 'Margaret Jastreboff': 1,
 'Peter Tyack': 1,
 'Ralph Cavanagh': 1,
 'Joshua Goldstein': 1,
 'Rahul Gupta': 1,
 'Craig Mazin': 1,
 'Matthew Neidell': 1,
 'Kristin Zaitz,': 1,
 'Emily Baker-White': 1,
 'Jeanet Bentzen': 1,
 'Steve Gatena': 1,
 'Larry Iannaccone': 1,
 'Roland Fryer': 1,
 'Matilda Wolfers': 2,
 'Sofia Sacerdote': 2,
 'Aidan Caplan': 2,
 'Tristan Caplan': 2,
 'Lily Levitt': 2,
 'Dana Suskind, ': 1,
 'Kimberly Noble': 1,
 'Hilary Hoynes, ': 1,
 'Kim Janey': 1,
 'Lisa Gennetian, ': 1,
 'Mitt Romney': 1,
 'John Tierney': 2,
 'Alicia Grandjean': 2,
 'David Byrne': 2,
 'Bapu Jena,': 1,
 'Jeffrey Sachs': 4,
 'Ricardo Hausmann': 2,
 'James Robinson': 3,
 'Kjell Salvanes': 2,
 'Daniel Nepstad': 1,
 'Michael Greenstone': 1,
 'Gretchen Daily': 1,
 'Stefan Szymanski, ': 2,
 'Glenn Loury': 2,
 'Richard Rothstein,': 2,
 'Segun Idowu': 1,
 'Christina Romer, ': 1,
 'Maria Konnikova, ': 1,
 'Abigail Wozniak': 2,
 'Andrew Yang': 1,
 'Jennifer': 2,
 'Doleac': 2,
 'Daron': 1,
 'Acemoglu': 1,
 'Robert Brown': 1,
 'Michael Crow': 1,
 'Sylvia Burwell': 1,
 'Gina Raimondo, ': 1,
 'Julie Gerberding,': 1,
 'Chris Murray,': 1,
 'Zack Cooper': 1,
 'Steve Chen': 1,
 'Michèle Flournoy': 1,
 'Michael Auslin': 1,
 'Parag Pathak': 1,
 'Ezekiel Emanuel': 3,
 'MeiLan Han, ': 1,
 'Tayfun Sonmez': 1,
 'Garth Brown': 1,
 'Jayson Lusk': 1,
 'Doug Baker': 1,
 'Michael Anthony': 1,
 'Barry Ritholtz': 1,
 'Jada Hoerr': 1,
 'Cory Booker': 1,
 'Gary Cohn': 1,
 'Glenn Hubbard': 1,
 'Katherine Baicker': 1,
 'Austan Goolsbee': 1,
 'Christina Romer': 1,
 'Larry Summers': 3,
 'Sarah Friar': 1,
 'Ajit Pai': 1,
 'Michael Joyner': 2,
 'Ronald Evans': 2,
 'Marcas Bamman': 2,
 'Angela Duckworth,': 1,
 'Kirk DesErmia': 2,
 'Mark Gardiner': 2,
 'Sheena Iyengar': 2,
 'Michael Roberto': 2,
 'Saul Arnow': 2,
 'Elizabeth Abbott': 2,
 'Trinity College, University of Toronto.': 2,
 'Dr. Nicole Avena': 2,
 'Mount Sinai School of Medicine': 2,
 'Margaret Hamburg': 2,
 'U.S. Food and Drug Administration': 2,
 'Roger Layton': 2,
 ', ': 14,
 'Brigham Young University Library': 2,
 'Robert Lustig': 2,
 'Institute for Health Policy Studies': 2,
 'The University of California, San Francisco': 2,
 'Institute for Responsible Nutrition': 2,
 'Richard Kahn': 2,
 'American Diabetes Association': 2,
 'Brenna Oldroyd': 2,
 'Brigham Young University': 2,
 'Lance Armstrong': 2,
 'David Canton': 1,
 'David Epstein': 2,
 'Domonique Foxworth': 2,
 'Justin Humphries': 1,
 'Andre Ingram': 1,
 'Shawn Johnson': 1,
 'Simone Manuel': 2,
 'Brandon McCarthy': 2,
 'Mike McGlinchey': 1,
 'Daryl Morey': 2,
 'Lauren Murphy': 2,
 'Kim Ng': 2,
 'J.J. Redick': 2,
 'Mikaela Shiffrin': 2,
 'Mark Teixeira': 2,
 'Sudhir Venkatesh': 1,
 'Kerri Walsh-Jennings': 1,
 'The Forward': 1,
 'The Move': 1,
 'Mark Cuban': 1,
 'Jennifer Egan': 1,
 'Lawrence Epstein': 1,
 'Dana Gioia': 1,
 'Takeru Kobayashi': 1,
 'Stephanie Labbe': 1,
 'David Low': 1,
 'Toby Moskowitz': 3,
 'Martha Newson': 1,
 'Andrew Orsatti': 1,
 'Dan Patrick': 1,
 'Doug Pederson': 1,
 'DeMaurice Smith': 1,
 'Bob Tewksbury': 1,
 'Richard Thaler': 1,
 'John Thorn': 1,
 'John Urschel': 1,
 'Kerri Walsh Jennings': 1,
 'Charles C. Mann': 1,
 'Mary Robinson': 1,
 'Chris Lacinak': 4,
 ' Linda Hirshman': 2,
 'David Laibson': 2,
 'Dave Brailsford': 1,
 'Lee Vinsel': 2,
 'Andy Russell': 2,
 'Ruth Schwartz Cowan': 2,
 'Martin Casado': 2,
 'Roger Bennett': 1,
 'Solomon Dubner': 1,
 'Simon Kuper': 1,
 'Michael McFaul': 1,
 'Stefan Szymanski': 1,
 'Luigi Zingales': 1,
 'Atul Gawande': 1,
 'The Vanguard Group': 3,
 'University of Chicago': 4,
 'Dartmouth College': 2,
 'Ritholtz Wealth Management': 3,
 ',': 7,
 'Robert Putnam': 2,
 'David Halpern': 2,
 'Maria Murphy': 1,
 'University of California, San Diego': 2,
 'Princeton University': 4,
 'Columbia University': 3,
 'Slate': 1,
 'New Economic School': 1,
 'Keith Wailoo': 6,
 'Anupam Jena': 2,
 'Martin Makary': 2,
 'Vinay\xa0Prasad': 6,
 'Philip Mackowiak,\xa0': 2,
 'Teresa Woodruff,': 4,
 'Jeremy Greene': 4,
 'Evelynn Hammonds': 4,
 'Ben Goldacre': 2,
 'Lisa Bero': 4,
 'Sir Iain Chalmers': 4,
 'Anupam Jena, ': 2,
 'Philip Mackowiak': 2,
 'Steven Landsburg': 2,
 'Dan Pashman': 2,
 'Felix Oberholzer-Gee': 2,
 'Ayelet Fishbach': 2,
 'George Washington University': 1,
 'The': 2,
 'Harvard Medical School': 1,
 'Harvard University': 3,
 'Bata Shoe Museum': 1,
 'Homeboy Industries': 1,
 'University of Maryland': 2,
 'Richard Parente': 1,
 'The University of North Carolina at Chapel Hill': 1,
 'Northeastern University': 1,
 'Johns Hopkins University': 1,
 'Bowling Green State University': 1,
 'Drew Gilpin Faust': 1,
 'Koch Industries': 2,
 'University of California, Berkeley': 1,
 'University of Wisconsin-Madison': 1,
 'U.S. Department of Transportation': 1,
 'American University': 1,
 'EvalStat Research Center': 1,
 'Foothill College': 1,
 'Case Western Reserve University School of Law': 1,
 'Alan Turner': 1,
 'University of Rhode Island': 1,
 'New York University ': 1,
 'University of California, Irvine': 1,
 ' Erasmus School of Economics': 1,
 'University of Pennsylvania': 4,
 'New York Times': 1,
 'Abhijit Banerjee': 2,
 'Massachusetts Institute of Technology': 2,
 'Abdul Latif Jamil Poverty Action Lab': 2,
 'Bryan Caplan': 2,
 'George Mason University': 3,
 'Mercatus Center': 3,
 'Tyler Cowen': 1,
 'Center for the Study of Public Choice': 1,
 'Sir Angus Deaton': 2,
 '2015 Nobel laureate': 1,
 ' Princeton University': 1,
 'Rosabeth Moss Kanter': 1,
 'Harvard Business School': 1,
 'Harvard University ': 1,
 'Advanced Leadership Initiative': 1,
 'Alice Rivlin': 1,
 'Brookings Institution': 1,
 'McCourt School of Public Policy': 1,
 'Georgetown University': 1,
 'The Pearson Institute for the Study and Resolution of Global Conflicts': 1,
 'Max Roser': 2,
 ' Institute for New Economic Thinking': 2,
 'Oxford Martin School': 2,
 'University of Oxford': 2,
 'The Earth Institute': 2,
 'Tavneet Suri': 1,
 'Massachusetts Institute of Technology Sloan School of Management': 1,
 'Erik Olin Wright': 1,
 'University of Wisconsin – Madison': 1,
 '\xa0': 3,
 'Character Lab': 2,
 'Wharton School': 2,
 'Dr.\xa0Rory Gallagher': 1,
 'Dr. David Halpern': 1,
 'University of Pennsylvania.': 1,
 'Owain Service': 1,
 'David Autor': 1,
 'James Barron': 1,
 'John Komlos': 1,
 'Richard Liberman': 1,
 'Randall Munroe': 1,
 'Joseph Schumpeter': 1,
 'Nolan Bushnell': 1,
 'Larry Deetjen': 1,
 'Michael Hartman': 1,
 'Robert Martin': 1,
 'Mahesh Sadarangani': 1,
 'Miki Agrawal': 1,
 'Chris DeFaria': 1,
 'Bryan Singer': 1,
 'Bill Westenhofer': 1,
 'Michael Thom': 1,
 'Mike Seymour': 1,
 'Daniel Lay': 1,
 'Michael Shawn Hendryx': 1,
 'Angela Lee Duckworth,': 2,
 'K.\xa0Anders Ericsson, ': 4,
 'Steve Levitt,': 4,
 'Annette Lee': 2,
 'Srinath Mahankali': 2,
 'John Urschel,': 1,
 'Eric Winston,': 1,
 'Justin Tuck': 1,
 'Raj Chetty': 1,
 'Robert D. Putnam': 1,
 'Malcolm Gladwell,': 2,
 'Susanne Bargmann': 2,
 'Bob Fisher': 2,
 'Hunter Wendelstedt': 1,
 'Maya Shankar,\xa0': 1,
 'Jack Gallant': 1,
 'Anders Weiss': 1,
 'Kenneth Rogoff': 1,
 'James S. Henry': 1,
 'Niklas Arvidsson': 1,
 'Nandan Nilekani': 1,
 'Manu Saadia': 1,
 'Eric Posner': 1,
 'Jonathan Hall': 1,
 'Kevin Kelly': 1,
 'Uwe Reinhardt': 2,
 'Thomas Smith': 2,
 'Aziz Ansari': 1,
 'Myra Strober': 1,
 'Iris Bohnet': 1,
 'Meghan Sumner': 1,
 'Katherine Coffman': 1,
 'Zeynep Tufekci, ': 1,
 'David Clark, ': 1,
 'Yochai Benkler,\xa0': 1,
 'Erik Brynjolfsson': 1,
 'Evelyn Forget': 1,
 'Sam Altman': 1,
 'Robert Gordon': 1,
 'Greger Larson': 1,
 'Robert Gordon,': 1,
 'Mike Feinberg': 1,
 'Alex Tabarrok': 1,
 'Michael Clemens': 1,
 'Gene Callahan': 1,
 'Philippe Legrain': 1,
 'Casey Mulligan': 1,
 'Gary Becker': 1,
 'Naveen': 1,
 'Basel Esa': 1,
 'Ben Bernanke, ': 1,
 '\n': 2}

In [2]:

df_map = pd.DataFrame(list(map.items()), columns=['guest', 'episodes'])

In [3]:
df_map = df_map.drop('episodes', axis=1)

In [4]:
df_map

                  guest
0    Madeleine Albright
1          Leah Boustan
2        Zeke Hernandez
3             Roger Nam
4     Leonardo Bursztyn
..                  ...
669         Gary Becker
670              Naveen
671           Basel Esa
672      Ben Bernanke,
673                  \n

[674 rows x 1 columns]

In [ ]:
for i, guest in enumerate(df_map['guest']):
    if df_map.at[i, 'guest'] === '\n':
        df_map.drop(i)