In [ ]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
df = pd.read_excel('Cleaned_episodes.xlsx')
df.head()

In [ ]:
engine = create_engine('mysql://root:root@localhost:3306/freakapi')

In [ ]:
df.to_sql(name='episodes', con=engine, if_exists='append', index=False)

In [ ]:
hosts = df['episode_hosts']
hosts

In [ ]:
hosts[0]

In [ ]:
import ast

In [ ]:
hosts2 = hosts.values.tolist()
for i in range (len(hosts2)):
    try:
        hosts2[i] = ast.literal_eval(hosts2[i])
    except:
        pass

In [ ]:
for hostList in hosts2:
    for host in hostList:
        
        if host == '\n':
            hostList.remove(host)
        if host == 'and':
            hostList.remove(host)
        if host == 'And':
            hostList.remove(host)
        if host == '\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\tBy ':
            hostList.remove(host)

In [ ]:
hosts2

In [ ]:
for i, hosts_list in enumerate(hosts2):
    df.at[i, 'episode_hosts'] = hosts_list

In [ ]:
df

In [ ]:
df.to_excel('Cleaned_hosts.xlsx', index=False)

In [ ]:
df = pd.read_excel('Cleaned_hosts.xlsx')
df.head()

In [ ]:
map = {}

for hostList in df['episode_hosts']:
    for host in hostList:
        if host in map:
            next
        else:
            map[host] = 1

In [ ]:
import ast
map = {}
arr = df['episode_hosts'].values.tolist()
arr
for host_list in arr:
    host_list = ast.literal_eval(host_list)
    for host in host_list:
        if host in map:
            map[host] += 1
        else:
            map[host] = 1

In [ ]:
map

In [ ]:
map.keys()

In [ ]:
df = pd.DataFrame(list(map.items()), columns=['host', 'episodes'])

In [ ]:
df

In [ ]:
df.to_sql(name='presenters', con=engine, if_exists='append', index=False)

In [ ]:
df.rename(columns={'presenter': 'Name'}, inplace=True)

In [ ]:
df

In [ ]:
def loop(episodes, hosts):
    map = {}
    it = 0
    for host_list in hosts:
        for host in host_list:
            if map.has(host):
                map[host].append(episodes[it].episode_number)
            else:
                map[host] = host : episodes[it].episode_number

        it += 1

In [ ]:
df = pd.read_excel('relationship_table.xlsx')

In [ ]:
df.head()

In [ ]:
df.to_sql(name='presentedbys', con=engine, if_exists='append', index=False)

In [ ]:
import ast
import pandas as pd

df = pd.read_excel('Cleaned_guests.xlsx')
map = {}
arr = df['episode_guests'].values.tolist()

for guest_list in arr:
    guest_list = ast.literal_eval(guest_list)
    for guest in guest_list:
        if guest in map:
            map[guest] += 1
        else:
            map[guest] = 1
map

In [ ]:

df_map = pd.DataFrame(list(map.items()), columns=['guest', 'episodes'])

In [ ]:
df_map = df_map.drop('episodes', axis=1)

In [ ]:
df_map

In [ ]:
df_map

In [ ]:
df_map.to_excel('guests.xlsx', index=False)

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
df = pd.read_excel('guests.xlsx')
df.head()

In [ ]:
db = create_engine('mysql://root:root@localhost:3306/freakapi')

In [ ]:
df.to_sql(name='guests', con=db, if_exists='append', index=False)

In [3]:
df = pd.read_excel('extracted_guests.xlsx')
df.head()

,EpisodeId,episode_number,episode_title,episode_summary,episode_link,episode_transcript,episode_hosts,episode_guests1,episode_guests2,episode_guests3,...,episode_guests28,episode_guests29,episode_guests30,episode_guests31,episode_guests32,episode_guests33,episode_guests34,episode_guests35,episode_guests36,episode_guests37
0,1.0,EXTRA,Madeleine Albright’s Warning on Immigration,She arrived in the U.S. as an 11-year-old refu...,https://freakonomics.com/podcast/madeleine-alb...,"\nHey there, it’s Stephen Dubner. We just star...","[\n, Stephen J. Dubner, \r\n\t\t\t\t\t\t\t\t\t...",Madeleine Albright,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,PLUS,What Can the Bible Teach Us About Immigration?,"Stephen talks with Roger Nam, a professor of H...",https://freakonomics.com/podcast/what-can-the-...,Freakonomics Plus membership required,"[\n, Stephen J. Dubner, \r\n\t\t\t\t\t\t\t\t\t...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,No. 580,The True Story of America’s Supremely Messed-U...,How did a nation of immigrants come to hate im...,https://freakonomics.com/podcast/the-true-stor...,"\nToday, let’s start with a quiz. First, I wan...","[\n, Stephen J. Dubner, \r\n\t\t\t\t\t\t\t\t\t...",Leah Boustan,Zeke Hernandez,Roger Nam,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,PLUS,The Suddenly Controversial World of Profession...,Sportswriter Karen Crouse talks about the batt...,https://freakonomics.com/podcast/the-suddenly-...,Freakonomics Plus membership required,"[\n, Stephen J. Dubner, \r\n\t\t\t\t\t\t\t\t\t...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,No. 579,Are You Caught in a Social Media Trap?,Economists have discovered an odd phenomenon: ...,https://freakonomics.com/podcast/are-you-caugh...,\nBen HANDEL: I’ve loved working on this paper...,"[\n, Stephen J. Dubner, \r\n\t\t\t\t\t\t\t\t\t...",Leonardo Bursztyn,Benjamin Handel,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index(['EpisodeId', 'episode_number', 'episode_title', 'episode_summary',
       'episode_link', 'episode_transcript', 'episode_hosts',
       'episode_guests1', 'episode_guests2', 'episode_guests3',
       'episode_guests4', 'episode_guests5', 'episode_guests6',
       'episode_guests7', 'episode_guests8', 'episode_guests9',
       'episode_guests10', 'episode_guests11', 'episode_guests12',
       'episode_guests13', 'episode_guests14', 'episode_guests15',
       'episode_guests16', 'episode_guests17', 'episode_guests18',
       'episode_guests19', 'episode_guests20', 'episode_guests21',
       'episode_guests22', 'episode_guests23', 'episode_guests24',
       'episode_guests25', 'episode_guests26', 'episode_guests27',
       'episode_guests28', 'episode_guests29', 'episode_guests30',
       'episode_guests31', 'episode_guests32', 'episode_guests33',
       'episode_guests34', 'episode_guests35', 'episode_guests36',
       'episode_guests37'],
      dtype='object')

In [12]:
df_guests = df.loc[:,(df.columns == 'EpisodeId') | df.columns.str.startswith('episode_guests')]

In [20]:
df_guests_pivot = df_guests.melt(id_vars='EpisodeId', value_vars=df_guests.columns[1:], var_name='Guests', value_name='Guest')
# df_guests_pivot = df_guests_pivot.dropna()
# df_guests_pivot = df_guests_pivot.pivot(index='EpisodeId', columns='Guests', values='Guest')
# df_guests_pivot.reset_index(inplace=True)

In [21]:
df_guests_pivot.sort_values(by='EpisodeId', inplace=True)
df_guests_pivot

       EpisodeId            Guests               Guest
0            1.0   episode_guests1  Madeleine Albright
2289         1.0   episode_guests4                 NaN
25942        1.0  episode_guests35                 NaN
3815         1.0   episode_guests6                 NaN
24416        1.0  episode_guests33                 NaN
...          ...               ...                 ...
25178        NaN  episode_guests33                 NaN
25941        NaN  episode_guests34                 NaN
26704        NaN  episode_guests35                 NaN
27467        NaN  episode_guests36                 NaN
28230        NaN  episode_guests37                 NaN

[28231 rows x 3 columns]

In [28]:
guests_of_episodes = df_guests_pivot.loc[~df_guests_pivot['Guest'].isnull()]

In [29]:
guests_of_episodes

      EpisodeId           Guests               Guest
0           1.0  episode_guests1  Madeleine Albright
765         3.0  episode_guests2      Zeke Hernandez
1528        3.0  episode_guests3           Roger Nam
2           3.0  episode_guests1        Leah Boustan
767         5.0  episode_guests2     Benjamin Handel
...         ...              ...                 ...
4332      518.0  episode_guests6        Steve Levitt
517       518.0  episode_guests1     Ezekiel Emanuel
3569      518.0  episode_guests5                  \n
1280      518.0  episode_guests2       Uwe Reinhardt
2806      518.0  episode_guests4        Thomas Smith

[1020 rows x 3 columns]

In [30]:
guests_with_guest_id = pd.read_excel('guests.xlsx')
guests_with_guest_id

      Id                Name
0      1  Madeleine Albright
1      2        Leah Boustan
2      3      Zeke Hernandez
3      4           Roger Nam
4      5   Leonardo Bursztyn
..   ...                 ...
659  660      Casey Mulligan
660  661         Gary Becker
661  662              Naveen
662  663           Basel Esa
663  664        Ben Bernanke

[664 rows x 2 columns]

In [35]:
guests_of_episodes.loc[:,'Guest'] = guests_of_episodes['Guest'].str.strip()

# guests_of_episodes.merge(guests_with_guest_id, left_on='Guest', right_on='Name', how='left')

In [36]:
guests_of_episodes

      EpisodeId           Guests               Guest
0           1.0  episode_guests1  Madeleine Albright
765         3.0  episode_guests2      Zeke Hernandez
1528        3.0  episode_guests3           Roger Nam
2           3.0  episode_guests1        Leah Boustan
767         5.0  episode_guests2     Benjamin Handel
...         ...              ...                 ...
4332      518.0  episode_guests6        Steve Levitt
517       518.0  episode_guests1     Ezekiel Emanuel
3569      518.0  episode_guests5                  \n
1280      518.0  episode_guests2       Uwe Reinhardt
2806      518.0  episode_guests4        Thomas Smith

[1020 rows x 3 columns]

In [38]:
guests_with_guest_id.loc[:, 'Name'] = guests_with_guest_id['Name'].str.strip()

In [41]:
guests_merged = guests_of_episodes.merge(guests_with_guest_id, left_on='Guest', right_on='Name', how='left')

In [42]:
guests_merged.drop(columns=['Guests', 'Guest', 'Name'], inplace=True)
guests_merged

      EpisodeId     Id
0           1.0    1.0
1           3.0    3.0
2           3.0    4.0
3           3.0    2.0
4           5.0    6.0
...         ...    ...
1064      518.0  616.0
1065      518.0  410.0
1066      518.0    NaN
1067      518.0  639.0
1068      518.0  640.0

[1069 rows x 2 columns]

In [43]:
guests_merged['Id'].isnull().sum()

88

In [46]:
guests_merged = guests_merged.loc[~guests_merged['Id'].isnull(),:]

In [47]:
guests_merged

      EpisodeId     Id
0           1.0    1.0
1           3.0    3.0
2           3.0    4.0
3           3.0    2.0
4           5.0    6.0
...         ...    ...
1063      518.0  114.0
1064      518.0  616.0
1065      518.0  410.0
1067      518.0  639.0
1068      518.0  640.0

[981 rows x 2 columns]

In [48]:
engine = create_engine('mysql://root:root@localhost:3306/freakapi')

In [49]:
guests_merged.rename(columns={'Id': 'GuestId'}, inplace=True)

C:\Users\drfla\AppData\Local\Temp\ipykernel_25024\628814339.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  guests_merged.rename(columns={'Id': 'GuestId'}, inplace=True)

In [51]:
guests_merged.to_sql(name='guestsofepisodes', con=engine, if_exists='append', index=False)

981